.social {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0;
  background: #fff;
  color: #000;
  text-align: center;
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      // margin: 0 1rem;
      list-style-type: none;
      width: 100px;
      a {
        color: #000;
        font-size: 2rem;
        transition: all 0.3s ease-in-out;
        width: 100%;
        padding: 5px;
        i {
          color: #000;
          width: 100%;
        }
      }
      &:hover {
        // transform: scale(1.2);
        transition: 1s;
        a {
          background-color: rgb(6, 9, 169);
          i {
            color: white;
          }
        }
      }
    }
  }
}
